body{
    background-color:#D8D8D8;
}

.top{
    background-color:#303030;
    height:170px;
}


.middle{
    background-color:#FFFFFF;
    margin:auto;
    width: 696px;
    height:100vh;
}

.bottom{
    background-color: #080808;
        width:696px;
     position: static;
    margin:auto;
    height:81px;
}